*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://i4.hurimg.com/i/hurriyet/75/0x0/63086fa84e3fe10e1488d07c.jpg);
    padding: 2rem;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Itim', cursive;
    
}
h1{
    margin-bottom: 1rem;
    font-size: 2rem;
}
button{
    background: none;
    outline: none;
    margin: 1rem auto;
    margin-left: 1rem;
    background-color: rgb(6, 6, 170);
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: transform ease 0.3s;
    font-size: 1rem;
    color: white;

}
button:hover{
    color: yellow;
    background-color: red;
    transform: scale(1.1);
}
input{
    background: none;
    outline: none;
    margin: 1rem auto;
    padding: 1rem 3rem;
    /* border-radius: 10px; */
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-bottom: 3px solid gray;
}
input:hover{
    transform: scale(1.1);

}
.msg{
    display: block;
}
form{
    text-align: center;
    
}
.nav-logo{
    margin-bottom: 2rem;
    border-radius: 20px;
    width: 45%;
}
.page-footer{
    text-align: right;
    margin-top: 5rem;
    font-size: 2rem;
}